<?xml version="1.0"?>
<!-- This is an xmlboot config file -->
<xmlboot xmlns:its="http://www.w3.org/2005/11/its" its:version="1.0">
	<system>lernstick Debian 6 (Version 2012-12-05)</system>
	<configs>
		<config id="language" trigger_config="keyboard">
			<text>Language</text>
			<option its:translate="no" id="de_CH" append="locales=de_CH.UTF-8" trigger_option="ch">Deutsch (Schweiz)</option>
			<option its:translate="no" id="de_AT" append="locales=de_AT.UTF-8" trigger_option="de">Deutsch (Österreich)</option>
			<option its:translate="no" id="de_DE" append="locales=de_DE.UTF-8" trigger_option="de">Deutsch (Deutschland)</option>
			<option its:translate="no" id="fr_CH" append="locales=fr_CH.UTF-8" trigger_option="ch_fr">Français (Suisse)</option>
			<option its:translate="no" id="it_CH" append="locales=it_CH.UTF-8" trigger_option="it">Italiano (Svizzera)</option>
			<option its:translate="no" id="en_US" append="locales=en_US.UTF-8" trigger_option="us" selected="true">English (USA)</option>
			<option its:translate="no" id="es_AR" append="locales=es_AR.UTF-8" trigger_option="es">Español (Argentina)</option>
			<option its:translate="no" id="es_ES" append="locales=es_ES.UTF-8" trigger_option="es">Español (España)</option>
			<option its:translate="no" id="pt_BR" append="locales=pt_BR.UTF-8" trigger_option="br">Português (Brasil)</option>
			<option its:translate="no" id="ru_RU" append="locales=ru_RU.UTF-8" trigger_option="ru">Русский</option>
			<option its:translate="no" id="sq_AL" append="locales=sq_AL.UTF-8" trigger_option="al">Shqip</option>
		</config>
		<config id="keyboard">
			<text>Keyboard</text>
			<option id="ch" append="keyboard-layouts=ch,ch(fr),de,fr" selected="true">Switzerland (German)</option>
			<option id="ch_fr" append="keyboard-layouts=ch(fr),ch,fr,de">Switzerland (French)</option>
			<option id="de" append="keyboard-layouts=de,ch,ch(fr),fr">Germany</option>
			<option id="it" append="keyboard-layouts=it,ch,ch(fr),fr">Italy</option>
			<option id="us" append="keyboard-layouts=us,ch,ch(fr),de">USA</option>
			<option id="es" append="keyboard-layouts=es,us,ch,ch(fr)">Spain</option>
			<option id="br" append="keyboard-layouts=br,pt,us,ch">Brazil</option>
			<option id="ru" append="keyboard-layouts=ru,ch,de,us">Russia</option>
			<option id="al" append="keyboard-layouts=al,us,ch,de">Albania</option>
		</config>
		<config id="desktop">
			<text>Desktop</text>
			<option id="KDE" append="desktop=kde nottyautologin" selected="true">KDE</option>
			<option id="GNOME" append="desktop=gnome nottyautologin">GNOME</option>
			<option id="LXDE" append="desktop=lxde nottyautologin">LXDE</option>
			<option id="Sugar" append="desktop=sugar nottyautologin">Sugar</option>
			<option id="no" append="desktop=no">Text console</option>
		</config>
	</configs>
	<options>
		<option id="persistence" append_nonselected="persistent forcepersistentfsck">Test mode</option>
		<option id="swap_partition" append_selected="swapon" selected="true">Use swap partition</option>
		<option id="swap_file" append_selected="swapfile=auto" selected="true">Use swap file</option>
		<option id="quiet" append_nonselected="quiet">Show boot messages</option>
		<option id="splash" append_selected="splash" selected="true">Show boot splash</option>
	</options>
	<custom_options text="nolapic_timer"/>
	<breadcrumbs y="160" font="font_size_12.fnt" delimiter="  ▶  " color="0x000000"/>
	<timeout x="10" y="160" font="font_size_15.fnt" color="0x000000">
		<format_singular>Automatic boot in %u second...</format_singular>
		<format_plural>Automatic boot in %u seconds...</format_plural>
	</timeout>
	<menu y="230" dy="30" font="font_size_15.fnt" color="0x000000" selected_color="0xFFFFFF" rectangle_color="0xC7D9F0" icon_inset="10">
		<start icon="icon_start.jpg" index="0" label="linux initrd=/live/initrd.img boot=live config radeon.modeset=0 live-media-timeout=10" append_config="true">Start lernstick</start>
		<config id="language" icon="icon_language.jpg"/>
		<config id="desktop" icon="icon_desktop.jpg"/>
		<submenu icon="icon_config.jpg" show_edit="true" edit_x="10" edit_y="600" edit_width="600">
			<text>More Configuration</text>
			<edit_prompt>Custom options:</edit_prompt>
			<back icon="icon_previous.jpg">Back to main menu</back>
			<config id="keyboard" icon="icon_keyboard.jpg"/>
			<option id="persistence"/>
			<option id="swap_partition"/>
			<option id="swap_file"/>
			<option id="quiet"/>
			<option id="splash"/>
		</submenu>
		<start icon="icon_hwinfo.jpg" index="1" label="hdt">Hardware info</start>
	</menu>
</xmlboot>
