<?xml version="1.0"?>
<!-- This is an xmlboot config file -->
<xmlboot version="0.1">
	<system version="lernstick Debian 6 (Version 2012-11-26)"/>
	<configs>
		<config id="LANGUAGE" text="Language" trigger_config="KEYBOARD">
			<option id="de_CH" text="Deutsch (Schweiz)" append="locales=de_CH.UTF-8" trigger_option="ch" selected="true"/>
			<option id="de_AT" text="Deutsch (Österreich)" append="locales=de_AT.UTF-8" trigger_option="de"/>
			<option id="de_DE" text="Deutsch (Deutschland)" append="locales=de_DE.UTF-8" trigger_option="de"/>
			<option id="fr_CH" text="Français (Suisse)" append="locales=fr_CH.UTF-8" trigger_option="ch_fr"/>
			<option id="it_CH" text="Italiano (Svizzera)" append="locales=it_CH.UTF-8" trigger_option="it"/>
			<option id="en_US" text="English (USA)" append="locales=en_US.UTF-8" trigger_option="us"/>
			<option id="es_AR" text="Español (Argentina)" append="locales=es_AR.UTF-8" trigger_option="es"/>
			<option id="es_ES" text="Español (España)" append="locales=es_ES.UTF-8" trigger_option="es"/>
			<option id="pt_BR" text="Português (Brasil)" append="locales=pt_BR.UTF-8" trigger_option="br"/>
			<option id="ru_RU" text="Русский" append="locales=ru_RU.UTF-8" trigger_option="ru"/>
			<option id="sq_AL" text="Shqip" append="locales=sq_AL.UTF-8" trigger_option="al"/>
		</config>
		<config id="KEYBOARD" text="Keyboard">
			<option id="ch" text="Schweiz (Deutsch)" append="keyboard-layouts=ch,ch(fr),de,fr" selected="true"/>
			<option id="ch_fr" text="Suisse (Français)" append="keyboard-layouts=ch(fr),ch,fr,de"/>
			<option id="de" text="Deutschland" append="keyboard-layouts=de,ch,ch(fr),fr"/>
			<option id="it" text="Italia" append="keyboard-layouts=it,ch,ch(fr),fr"/>
			<option id="us" text="USA" append="keyboard-layouts=us,ch,ch(fr),de"/>
			<option id="es" text="España" append="keyboard-layouts=es,us,ch,ch(fr)"/>
			<option id="br" text="Brasil" append="keyboard-layouts=br,pt,us,ch"/>
			<option id="ru" text="Россия" append="keyboard-layouts=ru,ch,de,us"/>
			<option id="al" text="Shqipëria" append="keyboard-layouts=al,us,ch,de"/>
		</config>
		<config id="PERSISTENCE" text="Mode">
			<option id="rw" text="Normal" append="persistent forcepersistentfsck" selected="true"/>
			<option id="off" text="Test mode"/>
		</config>
		<config id="DESKTOP" text="Desktop">
			<option id="KDE" text="KDE" append="desktop=kde nottyautologin" selected="true"/>
			<option id="GNOME" text="GNOME" append="desktop=gnome nottyautologin"/>
			<option id="LXDE" text="LXDE" append="desktop=lxde nottyautologin"/>
			<option id="Sugar" text="Sugar" append="desktop=sugar nottyautologin"/>
			<option id="no" text="Text console" append="desktop=no nottyautologin"/>
		</config>
	</configs>
	<menu text="Main menu" y="200" dy="30" font="font_size_15.fnt">
		<start text="Start lernstick" index="0" label="linux initrd=/live/initrd.img boot=live config swapon swapfile=auto quiet splash radeon.modeset=0 live-media-timeout=10" append_config="true"/>
		<config id="LANGUAGE"/>
		<config id="DESKTOP"/>
		<menu text="More Configuration">
			<back text="Back to main menu"/>
			<config id="KEYBOARD"/>
			<menu text="Configuration for H4X0RZ">
				<back text="Back to configuration"/>
				<config id="PERSISTENCE"/>
			</menu>
		</menu>
		<start text="Hardware info" index="1" label="hdt"/>
	</menu>
</xmlboot>
